// Place all the styles related to the flats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card-deck {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background: white;
}

.card {
  flex-grow: 1;
  width: 300px;
  margin: 50px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

  .card-img-top {
    height: 100%;
    width: auto;
    object-fit: cover;
  }
}
